  <appSettings>
    <add key="ida:ClientId" value="" />
    <add key="ida:ClientSecret" value="" />
    <add key="ida:TenantId" value="" />
    <add key="ida:Domain" value="" />
    <add key="ida:AADInstance" value="" />
    <add key="ida:PostLogoutRedirectUri" value="https://localhost:44386/" />
  </appSettings>